
mixin formProject(project = {}, errors={})
  form.new-project#new-project(action=`/new-project/${project.id || ''}` method="POST")
    label(for="name")= `${project.name ? 'Editar nombre del proyecto' : 'Agregar proyecto'}`
    input(type="text" id="name" name="name" placeholder="Nombre proyecto..." value=project.name)
    input(type="submit" value=`${project.name  ? 'Guardar' : 'Agregar' }`)
    if errors.length
      .alert.error= errors[0].msg